.container {
  
}

.header {
    border-bottom: 1px #DADADA solid;
}

.headerImageWrapper {
    position: absolute;
    bottom: -40px;
    left: 50%;
}

.headerImage {
  width: 5rem;
  height: 5rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
